nav ul li {
   list-style-type: circle;
   display: inline-block;
   background-color: $color--test3;
   text-align: center;
   width: 200px;
   padding: 9px;
   font-family: 'Big Shoulders Text', cursive;
   font-size: 20px;
}
