li {
   font-family: $font-stack--reading-text2;
   border: 10px double $color--lightgrey;
   line-height: 10px;
   display: inline-block;
   text-align: center;
   width: 400px;
   padding: 10px;
   font-size: 20px;
}

li:hover {
   font-family: $font-stack--reading-text2;
   font-size: 18px;
   text-decoration: none;
   color: red;
}

#homepage a:hover {
   color: $color--darkteal;
}

#page1-2 a:hover {
   color: $color-onetotwo;
}

#page3-4 a:hover {
   color: $color-rulethreetofour;
}

#page5-6 a:hover {
   color: $color-rulefivetosix;
}

#page7-8 a:hover {
   color: $color-ruleseventoeight;
}

#page9-10 a:hover {
   color: $color-ruleninetoten;
}
