.one {
  color: $color-ten;
  background-color: $color-one;

}

.two {
  color: $color-ten;
  background-color: $color-two;

}

.three {
  color: $color-ten;
  background-color: $color-three;

}

.four {
  color: $color-ten;
  background-color: $color-four;

}

.five {
  color: $color-ten;
  background-color: $color-five;

}

.six {
  color: $color-one;
  background-color: $color-six;

}

.seven {
  color: $color-one;
  background-color: $color-seven;

}

.eight {
  color: $color-one;
  background-color: $color-eight;

}

.nine {
  color: $color-one;
  background-color: $color-nine;

}

.ten {
  color: $color-one;
  background-color: $color-ten;

}
