.one {
  color: $color-ten;
  background-color: $color-one;
}
.one:visited {
  color: $color-ten;
  background-color: $color-one;
}
.one:hover {
  color: $color-primary;
  background-color: $color-ten;
}

.two {
  color: $color-ten;
  background-color: $color-two;
}
.two:visited {
  color: $color-ten;
  background-color: $color-two;
}
.two:hover {
  color: $color-primary;
  background-color: $color-nine;
}

.three {
  color: $color-ten;
  background-color: $color-three;
}
.three:visited {
  color: $color-ten;
  background-color: $color-three;
}
.three:hover {
  color: $color-primary;
  background-color: $color-eight;
}

.four {
  color: $color-ten;
  background-color: $color-four;
}
.four:visited {
  color: $color-ten;
  background-color: $color-four;
}
.four:hover {
  color: $color-primary;
  background-color: $color-seven;
}

.five {
  color: $color-ten;
  background-color: $color-five;
}
.five:visited {
  color: $color-ten;
  background-color: $color-five;
}
.five:hover {
  color: $color-primary;
  background-color: $color-six;
}

.six {
  color: $color-primary;
  background-color: $color-six;
}
.six:visited {
  color: $color-primary;
  background-color: $color-six;
}
.six:hover {
  color: $color-ten;
  background-color: $color-five;
}

.seven {
  color: $color-primary;
  background-color: $color-seven;
}
.seven:visited {
  color: $color-primary;
  background-color: $color-seven;
}
.seven:hover {
  color: $color-ten;
  background-color: $color-four;
}

.eight {
  color: $color-primary;
  background-color: $color-eight;
}
.eight:visited {
  color: $color-primary;
  background-color: $color-eight;
}
.eight:hover {
  color: $color-ten;
  background-color: $color-three;
}

.nine {
  color: $color-primary;
  background-color: $color-nine;
}
.nine:visited {
  color: $color-primary;
  background-color: $color-nine;
}
.nine:hover {
  color: $color-ten;
  background-color: $color-two;
}

.ten {
  color: $color-primary;
  background-color: $color-ten;
}
.ten:visited {
  color: $color-primary;
  background-color: $color-ten;
}
.ten:hover {
  color: $color-ten;
  background-color: $color-one;
}
