$font-stack--heading: alatsi, sans-serif;
$font-stack--text: nanum gothic, sans-serif;
$width--desktop: 960px;
$width--tablet: 720px;
$width--mobile: 400px;
$color--backgrnd: #b09fff;
$color--backgrnd2: #799dff;
$color--text: #f6f5f9;
$color--highlight: #686bfa;
