$font-stack--headings: Raleway, sans-serif;
$font-stack--reading: OpenSans, sans-serif;

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--regular: 400;

$color-one: #fff;
$color-two: #f2f2f2;
$color-three: #d8d8d8;
$color-four: #bebebe;
$color-five: #a4a4a4;
$color-six: #8a8a8a;
$color-seven: #707070;
$color-eight: #565656;
$color-nine: #2f2f2f;
$color-ten: #000;
