$height--body: 20px;
$font-stack--headings: 'Space Mono', sans-serif;
$font-stack--reading-text: 'Rubik', sans-serif;
$font-stack--reading-text2: 'Ibarra Real Nova',sans-serif;
$width--desktop: 960px;
$width--tablet: 720px;
$width--mobile: 400px;
$color--greyscale: #0e2426;
$color--darkteal: #1e3040;
$color--grey: #878a8c;
$color--lightgrey: #d9d9d9;
$color-onetotwo: #bf2121;
$color-rulethreetofour: #f29f05;
$color-rulefivetosix: #03a66a;
$color-ruleseventoeight: #0487d9;
$color-ruleninetoten: #f072f2;
$margin--variable: 24px;
