$color--primany: yellow;
$color--secondary: blue;
$height--body: 20px;
$font-stack--headings: 'Space Mono', sans-serif;
$font-stack--reading-text: 'Rubik', sans-serif;
$font-stack--reading-text2: 'Ibarra Real Nova',sans-serif;
$width--desktop: 960px;
$width--tablet: 720px;
$width--mobile: 400px;
$color--test1: #804400;
$color--test2: #ff8000;
$color--test3: #00b4ff;
$margin--variable: 24px;
