@import 'variables';
@import 'nav';
@import 'header';

html {
   background-color: white;
}

img {
   display: block;
   margin: 35px auto;
}

body {
   font-family: $font-stack--reading-text2;
   font-size: $height--body;
   margin: $margin--variable;
}

main p {
   text-align: justify;
   padding: 10px;
   color: $color--darkteal;
   width: 90%;
   margin: auto;
   line-height: 24px;
   font-weight: 700;
}
